.logo-main,
.logo-main * {
  box-sizing: border-box;
}
.logo-main {
  height: 312px;
  position: relative;
}
.logo-main .image-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
