.footer-property-1-default,
.footer-property-1-default * {
  box-sizing: border-box;
}
.footer-property-1-default {
  background: rgba(0, 0, 0, 0.9);
  border-style: solid;
  border-color: var(--blue, #2271d1);
  border-width: 4px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 787px;
  align-items: center;
  justify-content: center;
  height: 125px;
  position: relative;
  box-shadow: 0px 5px 29px 0px rgba(34, 113, 209, 0.7);
}
.footer-property-1-default .logo-main-instance {
  flex-shrink: 0 !important;
  width: 168.45px !important;
  height: 40px !important;
}
